In [1]:
#IMPORTATION DES DIFFERENTES MODULES NECESSAIRE
import pandas as pd
import numpy as np

In [2]:
#CREATION DE LA DATAFRAME A PARTIR DU FICHIER toy_incomplet.csv
DataFrame = pd.read_csv("toy_incomplet.csv", encoding="UTF-8", sep='\t')
DataFrameC= pd.read_csv("toy_complet.csv", encoding="UTF-8", sep='\t')

In [54]:
#Affichage du dataframe
DataFrame

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1.808796,2.765099,1,4.193392,3.593898,2,0.985554,2.181051,2.866488,2.42347,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,-1.000000,2.000000,2,-1.000000,0.000000,2,-1.000000,4.000000,-1.000000,1.00000,...,-1,4,3,-1,2,3,-1,-1,4,1
2,-1.000000,-1.000000,-1,-1.000000,-1.000000,0,2.000000,-1.000000,4.000000,3.00000,...,1,0,2,-1,-1,-1,-1,1,5,0
3,-1.000000,-1.000000,2,0.000000,3.000000,0,-1.000000,1.000000,4.000000,-1.00000,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,-1.000000,-1.000000,-1,1.000000,2.000000,0,2.000000,1.000000,4.000000,4.00000,...,1,1,1,-1,-1,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,4.000000,-1,0.000000,3.000000,0,2.000000,1.000000,4.000000,-1.00000,...,-1,-1,-1,1,3,-1,-1,-1,4,-1
96,-1.000000,1.000000,1,-1.000000,-1.000000,2,4.000000,4.000000,-1.000000,0.00000,...,1,-1,4,-1,3,-1,0,2,-1,-1
97,-1.000000,-1.000000,-1,-1.000000,3.000000,4,3.000000,-1.000000,-1.000000,3.00000,...,3,0,3,-1,-1,-1,-1,-1,2,2
98,4.000000,-1.000000,-1,4.000000,-1.000000,-1,3.000000,4.000000,-1.000000,-1.00000,...,-1,-1,4,-1,2,3,0,2,-1,2
99,1.000000,4.000000,-1,-1.000000,3.000000,-1,4.000000,1.000000,3.000000,-1.00000,...,1,5,-1,-1,5,-1,-1,-1,1,4

In [4]:
DataFrameC.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,1,2,1,5,4,2,0,2,4,...,3,0,4,4,3,0,1,1,4,4
1,NaN,3,2,2,3,0,2,4,4,4,...,1,4,3,1,2,3,0,2,4,1
2,NaN,0,4,2,1,4,0,2,1,4,...,1,0,2,2,3,3,5,1,5,0
3,NaN,0,4,2,0,3,0,2,1,4,...,1,1,1,1,4,2,5,2,4,0
4,NaN,0,5,2,1,2,0,2,1,4,...,1,1,1,1,3,3,4,3,3,1

In [5]:
#SELECTION DE LA COLONNE AVEC LES NaN
column_with_nan = DataFrame.columns[DataFrame.isnull().any()]
column_with_nanC = DataFrameC.columns[DataFrame.isnull().any()]

In [6]:
#SUPPRESSION DE LA COLONNE AVEC LES NaN
DataFrame.drop(column_with_nan,1,inplace=True)
DataFrameC.drop(column_with_nan,1,inplace=True)
DataFrame.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,-1,-1,1,-1,-1,2,-1,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,-1,2,2,-1,0,2,-1,4,-1,1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,-1,-1,-1,-1,-1,0,2,-1,4,3,...,1,0,2,-1,-1,-1,-1,1,5,0
3,-1,-1,2,0,3,0,-1,1,4,-1,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,-1,-1,-1,1,2,0,2,1,4,4,...,1,1,1,-1,-1,3,4,3,3,1

In [7]:
DataFrameC.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1,2,1,5,4,2,0,2,4,2,...,3,0,4,4,3,0,1,1,4,4
1,3,2,2,3,0,2,4,4,4,1,...,1,4,3,1,2,3,0,2,4,1
2,0,4,2,1,4,0,2,1,4,3,...,1,0,2,2,3,3,5,1,5,0
3,0,4,2,0,3,0,2,1,4,3,...,1,1,1,1,4,2,5,2,4,0
4,0,5,2,1,2,0,2,1,4,4,...,1,1,1,1,3,3,4,3,3,1

In [8]:
#CALCUL DES 10 premières similarités pearson entre 0 et (1,10)
#En excluant les valeurs inconnues -1
listeSimPearson = []
for i in range(1,10):
    moyennei=0
    moyennej=0

    #moyenne des notes de i à j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[0,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[0,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k à j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[i,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            Somme=Somme + (DataFrame.iloc[0,j]-moyennei)*(DataFrame.iloc[i,j]-moyennej)


    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            s1=s1+(DataFrame.iloc[0,j]-moyennei)**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            s2=s2+(DataFrame.iloc[i,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    listeSimPearson.append(simPearson)
print(listeSimPearson)

def SimPearson(i,k):
    moyennei=0
    moyennej=0

    #moyenne des notes de i à j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[i,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k à j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[k,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            Somme=Somme + (DataFrame.iloc[i,j]-moyennei)*(DataFrame.iloc[k,j]-moyennej)


    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s1=s1+(DataFrame.iloc[i,j]-moyennei)**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s2=s2+(DataFrame.iloc[k,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    return simPearson
print(SimPearson(0,0))

#COSINUS

def SimCos(i, k) :
    Somme = 0
    for j in range(0, DataFrame.shape[1] - 1) :
            if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
                Somme = Somme + DataFrame.iloc[0,j] * DataFrame.iloc[k,j]

    Sommeij = 0
    Sommekj = 0
    for j in range(0, DataFrame.shape[1] - 1) :
        if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommeij = Sommeij + (DataFrame.iloc[0,j])2

    for j in range(0, DataFrame.shape[1] - 1) :
         if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommekj = Sommekj + (DataFrame.iloc[k,j])2

    denominateur = np.sqrt(Sommeij * Sommekj)
    CosineSim = Somme / denominateur
    return CosineSim

[-0.021661869531394887, 0.015390103569049057, -0.0031177700981050663, -0.03625633827095498, 0.8704091888652138, -0.017336565524381967, 0.04239681505009819, -0.041776380517848946, -0.04073206363690865]
1.0

In [53]:
#Calcul des similarités
SimilaritesPearson= np.zeros(shape=(DataFrame.shape[0],DataFrame.shape[0]))
for i in range(0,DataFrame.shape[0]-1):
    for j in range(0,DataFrame.shape[0]-1):
        SimilaritesPearson[i][j]=SimPearson(i,j)
print(SimilaritesPearson)

IndexError: single positional indexer is out-of-bounds

In [62]:
SimilaritesPearson

Empty DataFrame
Columns: []
Index: []

In [60]:
pd.DataFrame(SimilaritesPearson).to_csv("Similarités_Pearson.csv",index=False)

In [61]:
DF=pd.read_csv("Similarités_Pearson.csv")

EmptyDataError: No columns to parse from file

In [58]:
DF

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,89,90,91,92,93,94,95,96,97,98
0,0,1.000000,-0.021662,0.015390,-0.003118,-0.036256,0.870409,-0.017337,0.042397,-0.041776,...,-0.026210,0.882206,0.889632,0.059163,0.073918,-0.061829,-0.044545,0.019616,0.073668,-0.079893
1,1,-0.021662,1.000000,-0.019273,-0.027105,0.036643,-0.046805,0.035971,-0.076763,0.871163,...,-0.115833,-0.043490,-0.045353,-0.093521,-0.037935,-0.126296,-0.002248,0.880697,-0.095837,0.874883
2,2,0.015390,-0.019273,1.000000,0.856374,0.829841,-0.046966,0.876175,-0.037665,-0.073878,...,-0.089919,0.093388,0.062599,0.032722,0.061937,0.024639,0.854322,-0.011382,0.025856,-0.023972
3,3,-0.003118,-0.027105,0.856374,1.000000,0.860838,-0.097306,0.872071,0.075814,-0.013309,...,0.072422,0.046658,-0.036916,0.096954,0.007351,0.140522,0.890402,-0.055188,0.113732,-0.032795
4,4,-0.036256,0.036643,0.829841,0.860838,1.000000,-0.116213,0.873778,-0.026580,0.002403,...,-0.015072,-0.013525,-0.071596,-0.009603,-0.076574,0.001144,0.881536,-0.074526,0.046670,0.045689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,94,-0.061829,-0.126296,0.024639,0.140522,0.001144,-0.029026,0.072900,0.884804,-0.108605,...,0.889671,0.038331,0.076430,0.874508,0.884429,1.000000,0.084522,-0.057647,0.860088,-0.094200
95,95,-0.044545,-0.002248,0.854322,0.890402,0.881536,-0.038374,0.874126,0.072492,-0.130477,...,0.045677,0.053944,0.039380,0.089466,0.040466,0.084522,1.000000,-0.007298,0.053789,-0.050558
96,96,0.019616,0.880697,-0.011382,-0.055188,-0.074526,-0.094069,-0.016439,0.038338,0.867169,...,-0.089048,0.082239,0.053568,-0.050615,-0.030922,-0.057647,-0.007298,1.000000,-0.116449,0.851023
97,97,0.073668,-0.095837,0.025856,0.113732,0.046670,0.049302,0.075336,0.857010,-0.053267,...,0.884482,0.078160,0.125516,0.881356,0.886893,0.860088,0.053789,-0.116449,1.000000,-0.060752
98,98,-0.079893,0.874883,-0.023972,-0.032795,0.045689,-0.050205,0.043355,-0.037745,0.846426,...,-0.078871,0.023598,0.018011,-0.062442,-0.081337,-0.094200,-0.050558,0.851023,-0.060752,1.000000

In [24]:
#Npredite de lutilisateur 0 sur l'item 1 (filtrage utilisateur)

def prediction(u1,i1):
    num=0
    den=0
    moyenne0=0
    c=0
    for x in range(0,DataFrame.shape[1]-1):
        if DataFrame.iloc[u1,x]!=-1:
            moyenne0+=DataFrame.iloc[u1,x]
            c+=1
    moyenne0=moyenne0/c


    for i in range(0,DataFrame.shape[0]-1):
        moyennei=0
        c=0
        for j in range(0,DataFrame.shape[1]-1):
            if DataFrame.iloc[i,j]!=-1:
                moyennei+=DataFrame.iloc[i,j]
                c+=1
        moyennei=moyennei/c

        if DataFrame.iloc[i,i1]!=-1 and SimilaritesPearson[u1][i]>0.8:
            num=num+SimilaritesPearson[u1][i]*(DataFrame.iloc[i,i1]-moyennei)
            den=den+SimilaritesPearson[u1][i]

    return moyenne0+(num/den)

print(prediction(0,1))

2.7690361022427474

In [25]:
for i in range(0,DataFrame.shape[0]-1):
    for j in range(0,DataFrame.shape[1]-1):
        if DataFrame.iloc[i,j]==-1:
            DataFrame.iloc[i,j]=prediction(i,j)
DataFrame.head()

KeyboardInterrupt: