In [12]:
#IMPORTATION DES DIFFERENTES MODULES NECESSAIRE
import pandas as pd
import numpy as np

In [13]:
#CREATION DE LA DATAFRAME A PARTIR DU FICHIER toy_incomplet.csv
DataFrame = pd.read_csv("toy_incomplet.csv", encoding="UTF-8", sep='\t')

In [14]:
#Affichage du dataframe
DataFrame.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,-1,-1,1,-1,-1,2,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,NaN,-1,2,2,-1,0,2,-1,4,-1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,NaN,-1,-1,-1,-1,-1,0,2,-1,4,...,1,0,2,-1,-1,-1,-1,1,5,0
3,NaN,-1,-1,2,0,3,0,-1,1,4,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,NaN,-1,-1,-1,1,2,0,2,1,4,...,1,1,1,-1,-1,3,4,3,3,1

In [15]:
#SELECTION DE LA COLONNE AVEC LES NaN
column_with_nan = DataFrame.columns[DataFrame.isnull().any()]

In [16]:
#SUPPRESSION DE LA COLONNE AVEC LES NaN
DataFrame.drop(column_with_nan,1,inplace=True)
print(DataFrame)

    Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  \
0           -1          -1           1          -1          -1           2
1           -1           2           2          -1           0           2
2           -1          -1          -1          -1          -1           0
3           -1          -1           2           0           3           0
4           -1          -1          -1           1           2           0
..         ...         ...         ...         ...         ...         ...
95           1           4          -1           0           3           0
96          -1           1           1          -1          -1           2
97          -1          -1          -1          -1           3           4
98           4          -1          -1           4          -1          -1
99           1           4          -1          -1           3          -1

    Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  ...  Unnamed: 991  \
0           -1          -1          -1           -1  ...            -1
1           -1           4          -1            1  ...            -1
2            2          -1           4            3  ...             1
3           -1           1           4           -1  ...             1
4            2           1           4            4  ...             1
..         ...         ...         ...          ...  ...           ...
95           2           1           4           -1  ...            -1
96           4           4          -1            0  ...             1
97           3          -1          -1            3  ...             3
98           3           4          -1           -1  ...            -1
99           4           1           3           -1  ...             1

    Unnamed: 992  Unnamed: 993  Unnamed: 994  Unnamed: 995  Unnamed: 996  \
0             -1            -1             4            -1             0
1              4             3            -1             2             3
2              0             2            -1            -1            -1
3              1            -1             1             4            -1
4              1             1            -1            -1             3
..           ...           ...           ...           ...           ...
95            -1            -1             1             3            -1
96            -1             4            -1             3            -1
97             0             3            -1            -1            -1
98            -1             4            -1             2             3
99             5            -1            -1             5            -1

    Unnamed: 997  Unnamed: 998  Unnamed: 999  Unnamed: 1000
0             -1            -1             4             -1
1             -1            -1             4              1
2             -1             1             5              0
3             -1            -1            -1              0
4              4             3             3              1
..           ...           ...           ...            ...
95            -1            -1             4             -1
96             0             2            -1             -1
97            -1            -1             2              2
98             0             2            -1              2
99            -1            -1             1              4

[100 rows x 1000 columns]

In [29]:
#CALCUL DES 10 premiÃ¨res similaritÃ©s cosinus entre 0 et (1,10)
#En excluant les valeurs inconnues -1
listeSimCos = []
for i in range(1,10):
    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[0,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            Somme=Somme + DataFrame.iloc[0,j]*DataFrame.iloc[i,j]

    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[0,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s1=s1+(DataFrame.iloc[0,j])**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            s2=s2+(DataFrame.iloc[i,j])**2

    denominateur= np.sqrt(s1*s2)
    simCos=Somme/denominateur
    listeSimCos.append(simCos)
print(listeSimCos)
    
def SimCos(i,k):
    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            Somme=Somme + DataFrame.iloc[0,j]*DataFrame.iloc[k,j]

    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            s1=s1+(DataFrame.iloc[0,j])**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s2=s2+(DataFrame.iloc[k,j])**2

    denominateur= np.sqrt(s1*s2)
    simCos=Somme/denominateur
    return simCos
print(SimCos(0,0))

[0.7298658135920659, 0.7307574516167551, 0.7232541811945834, 0.6987796583880003, 0.9632826499266409, 0.7088414160173263, 0.7273146543478126, 0.7096505901950565, 0.6954125337811353]
1.0

In [27]:
#CALCUL DES 10 premiÃ¨res similaritÃ©s pearson entre 0 et (1,10)
#En excluant les valeurs inconnues -1
listeSimPearson = []
for i in range(1,10):
    moyennei=0
    moyennej=0

    #moyenne des notes de i Ã  j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[0,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[0,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k Ã  j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[i,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            Somme=Somme + (DataFrame.iloc[0,j]-moyennei)*(DataFrame.iloc[i,j]-moyennej)


    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            s1=s1+(DataFrame.iloc[0,j]-moyennei)**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[0,j]!=-1):
            s2=s2+(DataFrame.iloc[i,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    listeSimPearson.append(simPearson)
print(listeSimPearson)

def SimPearson(i,k):
    moyennei=0
    moyennej=0

    #moyenne des notes de i Ã  j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[i,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k Ã  j
    x=0
    for j in range(0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[k,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            Somme=Somme + (DataFrame.iloc[i,j]-moyennei)*(DataFrame.iloc[k,j]-moyennej)


    s1=0
    s2=0
    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s1=s1+(DataFrame.iloc[i,j]-moyennei)**2

    for j in range (0,DataFrame.shape[1]-1):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s2=s2+(DataFrame.iloc[k,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    return simPearson
print(SimPearson(0,0))

[-0.021661869531394887, 0.015390103569049057, -0.0031177700981050663, -0.03625633827095498, 0.8704091888652138, -0.017336565524381967, 0.04239681505009819, -0.041776380517848946, -0.04073206363690865]
1.0

In [61]:
#Npredite de lutilisateur 0 sur l'item 1

N=0
num=0
den=0

moyenne0=0
for x in range(0,DataFrame.shape[1]-1):
    if DataFrame.iloc[0,x]!=-1:
        moyenne0+=DataFrame.iloc[0,x]
moyenne0=moyenne0/DataFrame.shape[1]



for i in range(0,DataFrame.shape[0]-1):
    moyennei=0
    
    for j in range(0,DataFrame.shape[1]-1):
        if DataFrame.iloc[i,j]!=-1:
            moyennei+=DataFrame.iloc[i,j]
    moyennei=moyennei/DataFrame.shape[1]
    
    if DataFrame.iloc[i,1]!=-1 and SimPearson(0,i)>0.8:
        num=num+SimPearson(0,i)*(DataFrame.iloc[i,1]-moyennei)
        den=den+SimPearson(0,i)
    
print(moyenne0+(num/den))

2.72599851572012